.modal {
    position: fixed;
    top: 12vh;
    left: 5%;
    padding: 1rem;
    padding-right: 1rem;
    border-radius: 6px;
    width: auto;
    background-color: rgba(234, 241, 241, 0.75);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.35);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    margin-left: 65%;
    margin-right: 10%;
    
}
.content {
    align-items: center;
}

@media (max-width: 1200px){
    .modal{
    width: auto;
      left: calc(10% - 20rem);
    }

}

@media (max-width: 576px){
    .modal{
        margin-top: 20%;
        margin-right: -5%;
    }

}